@model LocationMotos_ASP.Net_MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Gérer";
}

<h2>Modification possible sur votre profil</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Modifier vos paramètres de compte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd class="btn-group alert-danger" >
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Changer votre mot de passe", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Créer", "SetPassword")
            }
            ]
        </dd> 
    </dl>
</div>
