@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trouve</title>
</head>
<body>
    <div>
        La moto @ViewBag.MarqueM model @ViewBag.Model a bien été trouvé
    </div>
</body>
</html>


<div class="jumbotron">
    <h2 style="text-align:center">Bienvenue chez Universal Riders Rent</h2>
    <div></div>
    <p style="text-align:center" La moto @ViewBag.MarqueM model @ViewBag.Model a bien été trouvé</p>
</div>